.board {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  /* border: 2px solid black; */
  align-content: center;
  justify-content: center;
}

.board-item {
  border: 2px solid black;
  font-size: 30px;
  text-align: center;
  align-content: center;
  font-size: 50pt;
}

header {
  margin-top: 50px;
  margin-bottom: 10px;
}

footer {
  margin-top: 20px;
}

body {
  font-size: xx-large;
  text-align: center;
}

p {
  margin: 10px;
}

.xPiece {
  color: red;
}

.oPiece {
  color: blue;
}

.last {
  opacity: 50%;
}

.reset {
  width: 50px;
  height: auto;
  border: none;
  background: none;
}
